*{
    margin: 0px;
}

h1{
    /* text align  */
    text-align: center;
    color: brown;
    /*  text-decoration: ; */
    text-decoration:solid blue underline;

    /* font-weight */
    font-weight:100;

    /* font size */
    font-size:50px;

    /* font family */
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif ;
    
}
p{ 
    /* text-decoration: line-through; */
    text-align: justify;
    font-family: roboto;
    /* line height */
    line-height: 30px;
}
.div{
    margin-top: 20px;
    background-color: rgb(239, 233, 224);
    width: 500px;
    height: 300px;
}
a{
    text-decoration:dashed red overline;
}
nav{
    
    text-align: end;
}

/* .banner{
    background-color: antiquewhite;
    height: 100vh;
    color: blueviolet;
    text-align: center;
    padding: 40vh;
    font-size: 2rem;
} */

/* div{
    text-indent: 50px;
    text-transform:uppercase;
} */

.para{
    text-transform: inherit;
    letter-spacing: 10px;
    word-spacing: 20px;
}

header{
      margin-top: 30px;
      font-size: 50px;
      text-indent: 50px;
      text-shadow: -10px 50px 4px rgb(132, 37, 37);
}


#normal{
    text-indent: 50px;
    white-space: normal;
}

#nowrap{
    border: 1px solid black;
    width: 300px;
    text-indent: 50px;
    white-space: nowrap;
}
#pre{
     text-indent: 50px;
    white-space: pre;

}
#pre-line{
    text-indent: 50px;
    white-space: pre-line;
}

a[href]{
    background-color: rgb(30, 117, 88);

}

button:hover{
    color: brown;
    background-color: blueviolet;
}

button:active{
    color:white ;
    font-size: 3em;
}